.card-project {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 17.5rem;
  max-height: 17.5rem;
  background-color: var(--primary);
  box-shadow: 10px 10px 0 #fff;
}

.card-project .logo {
  max-width: 100%;
}

.card-project.-secondary {
  background-color: var(--secondary);
}

.card-project:hover {
  transform: scale(1.1);
}
