.main-input {
  width: 100%;
  height: 3.125rem;
  font-size: 1.875rem;
  border: 5px solid #000;
  box-sizing: border-box;
  border-radius: none;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
}

.main-input.-textarea {
  height: 20rem;
}
