.main-action {
  display: inline-flex;
  align-items: center;
  color: #fff;
  font-size: 1.25rem;
  font-weight: 500;
  text-decoration: none;
  padding: 5px 10px;
}

.main-action::before {
  content: "";
  background-color: var(--primary);
  width: 10px;
  height: 10px;
  margin-right: 10px;
}
