.main-banner {
  box-sizing: border-box;
  background-image: url(../../assets/images/photo.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 10px solid #000;
  padding-top: 7rem;
  padding-left: 5.6rem;
  height: 100vh;
  max-height: 44rem;
}

.main-banner .wrapper {
  display: inline-flex;
  flex-direction: column;
  width: auto;
}

.main-banner .main-box {
  margin-bottom: 2.5rem;
}

.main-banner .navigation {
  display: flex;
  justify-content: space-around;
}
