.main-banner {
    box-sizing: border-box;
    background-image: url(../../assets/images/photo.png);
    background-repeat: no-repeat;
    background-size: 100%;
    border-bottom: 10px solid #000; 
    padding-top: 115px;
    padding-left: 90px;
    height: 720px;
}

.main-banner .wrapper {
    display: inline-flex;
    flex-direction: column;
    width: auto;
}

.main-banner .main-box {
    margin-bottom: 40px;
}

.main-banner .navigation {
    display: flex;
    justify-content: space-around;    
}