.main-title {
  color: var(--primary);
  font-size: 2.5rem;
  font-family: "Press Start 2P", sans-serif;
  text-shadow: 4px 4px 0px #000;
}

.main-title.-second {
  color: #fff;
  text-align: center;
}
