.main-section {
  padding-top: 3.125rem;
  padding-bottom: 6.25rem;
  background-color: var(--primary);
  border-bottom: 10px solid var(--secondary);
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.main-section .main-title {
  margin-bottom: 3.75rem;
}

.main-section.bgSecondary {
  background-color: var(--secondary);
}

.main-section.-bgBlack {
  background-color: #000;
}

.main-section.-bdPrimary {
  border-color: var(--primary);
}

.main-section.bdBlack {
  border-color: #000;
}
