.main-action {
  display: inline-flex;
  align-items: center;
  color: #fff;
  font-size: 1.25rem;
  font-weight: 500;
  text-decoration: none;
  padding: 5px 10px;
}

.main-action::before {
  content: "";
  background-color: var(--primary);
  width: 10px;
  height: 10px;
  margin-right: 10px;
}

.main-action:hover::before {
  animation: 1s Jump infinite both;
}

@keyframes Jump {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(5px);
    background: #42a9d9;
  }
  65% {
    transform: translateY(-10px) rotate(180deg);
    background: #95fff3;
  }
  100% {
    transform: translateY(0px) rotate(360deg);
  }
}
