.main-section {
    padding-top: 50px;
    padding-bottom: 100px;
    background-color: var(--primary);
    border-bottom: 10px solid var(--secondary);
}

.main-section .main-title {
    margin-bottom: 60px;
}

.main-section.-bgBlack {
    background-color: #000;
}

.main-section.-bdPrimary {
    border-color: var(--primary);
}