.node-card {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-left: 25px;
    margin-right: 25px;
    box-sizing: border-box;
}

.node-card::before{
    position: absolute;
    box-sizing: border-box;
    content: "";
    height: 40px;
    border-left: 5px dashed #000;
    bottom: 145px;
}

.node-card .title {
    font-family: 'Press Start 2P', sans-serif;
    font-size: 25px;
    font-weight: 400;
    color: var(--primary);
    margin-bottom: 50px;
}

.node-card .logo {
    display: flex;
    align-items: center;
    height: 140px;
    border: 5px solid #000;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #CEB02A;
}

.node-card .logo img {
    max-height: 100%;
}

.node-card.-clean .logo {
    padding: 0;
}

.node-card.-white .logo {
    background-color: #FFF;
}
