.wrapper-skill {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
}

.wrapper-skill .skill-tec {
    width: 430px;
    margin-bottom: 40px;
}

.wrapper-skill .progress-bar {
    width: 320px;
}