:root {
  --primary: #42d9c8;
  --secondary: #f25a70;
  --white: #FFFFFF;
}

@media (prefers-color-scheme: dark) {
  body {
    --primary: #1f9c91;
    --secondary: #bb1830;
    --white: #EEEEEE;
  }
}

body {
  font-family: "Fira Code", Arial, Helvetica, sans-serif;
}

body,
p,
a,
h1,
h2,
h3,
figure,
input {
  margin: 0;
  padding: 0;
}

button {
  border: none;
  font-family: inherit;
}
